.section-container{
    display: flex;
    justify-content: space-between;
    margin: 80px 100px;
    background-color: aquamarine;
}
.left-content{
    width: 500px;
    margin-top: 70px;
    margin-left: 80px;
   
}
.left-content p{
    font-size: 25px;
}
.right-content img{
    width: 500px;
}